body {
    margin: 0;
    font-family: Arial, sans-serif;
    
}

.container {
    display: flex;
    background-color: #f5f5f5;
    height: 100vh; /* Makes sure the container fills the entire viewport height */
    padding: 30px;
}

.img-container {
    position: relative;
    display: flex;
    /* align-items: center;  Vertically center the contents */
     
}

.desc-container {
    flex: 3; /* Ensures equal width for both sides */
    overflow: hidden; /* In case content exceeds container size */
}

.img-container img {
    width: 80%; /* Makes sure the image fills its container's width */
    height: 50%;
    position: relative;
    object-fit: cover; /* Ensures the aspect ratio of the image is maintained */
}

.desc-container {
    flex: 2;
    padding: 20px; /* Add some spacing for the description content */

}

/* ... Your existing CSS ... */


  
  .nav-buttons button {
    background-color: rgba(226, 128, 128, 0.7);
    color: rgb(182, 24, 24);
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    align-self: center;
}
  
    #prevBtn {
    left: 0; /* Stick to the left */
}

    #nextBtn {
    right: 0; /* Stick to the right */
}
  

